html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }
body {
  font-family: "Montserrat", sans-serif;
  color: #000; }

h1 {
  font-size: 3em; }

h3 {
  font-size: 1.3em; }

nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  nav:last-child {
    margin-right: 0; }
  nav h3 {
    display: inline;
    padding-right: 20px; }

.container-main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  right: -1px;
  left: -1px;
  z-index: 999; }
  .container-main::after {
    clear: both;
    content: "";
    display: table; }

.container-left, .container-right {
  float: left;
  display: block;
  width: 51.17883%; }
  .container-left:last-child, .container-right:last-child {
    width: 48.82117%; }

nav {
  border: 0.6em solid #000; }

.logo-box {
  float: left;
  width: 50%;
  height: 24vh;
  background-image: url("../img/main-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.6em solid #000;
  border-top: 0; }

.events-box {
  width: 50%;
  height: 24vh;
  background-color: #F4EFDE;
  float: left; }

.book-box {
  position: relative;
  background-color: #F4EFDE;
  border: 0.6em solid #000;
  border-top: 0;
  float: left;
  width: 100%;
  height: 69.8vh;
  bottom: 0;
  left: 0;
  background-image: url("../img/book2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  .book-box .arrow-left {
    background-color: #fff;
    font-size: 2em;
    position: absolute;
    bottom: 93.25%;
    left: 90.50%;
    border-left: 0.3em solid #000;
    border-bottom: 0.3em solid #000; }
  .book-box .arrow-right {
    background-color: #fff;
    font-size: 2em;
    position: absolute;
    bottom: 93.25%;
    left: 95.25%;
    border-left: 0.3em solid #000;
    border-bottom: 0.3em solid #000; }

.copy {
  position: absolute;
  top: 97%;
  left: 1%; }

.dudes-box {
  background-image: url("../img/dudes.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 48vh;
  float: left; }

.synopsis-box {
  background-color: #F4EFDE;
  float: left;
  width: 50%; }

.author-box {
  background-color: #F4EFDE;
  float: left;
  width: 50%; }

.email, .twitter, .linkedin, .pinterest {
  font-size: 1.7em; }

.twitter, .pinterest {
  border-bottom: 0.6em solid #000; }

.shop-box {
  width: 100%;
  background-color: #F4EFDE; }

ul {
  list-style: none; }

ul li {
  display: inline; }

ul a {
  text-decoration: none;
  color: #000; }
  ul a:hover {
    color: #CCCCCC; }

.events-box, .dudes-box, .synopsis-box, .author-box, .email, .linkedin, .publisher-box, .shop-box {
  border-right: 0.6em solid #000;
  border-bottom: 0.6em solid #000; }

h1, h3 {
  text-align: center; }

.container-left h3, .container-right h3 {
  border-bottom: 2px solid #000;
  padding-bottom: .3vh;
  letter-spacing: .1vw; }

.events-box:hover, .synopsis-box:hover, .author-box:hover, .email:hover, .twitter:hover, .linkedin:hover, .pinterest:hover, .shop-box:hover {
  background-color: #000;
  color: #F4EFDE; }

/*# sourceMappingURL=application.css.map */
