.container-main {
  @include outer-container(100%);
  position: fixed;
  top: 0;
  right: -1px;
  left: -1px;
  z-index: 999;
}

.container-left, .container-right  {
  @include span-columns(6 of 12, block-collapse );

  h3 {
  @extend %underline;
  }
}
