*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@-ms-viewport{
  width: device-width;
}

body {
  font-family: $stack-mon;
  color: $black;
}

h1 {
  font-size: 3em;
  @extend %centered;
}

h1, h3 {
  @extend %centered;
}

h3 {
  font-size: 1.3em;
}
